@import "../../style/main.scss";

@include navContent;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-left: 24px;
  box-shadow: 0 1px 0 0 $light-gray;


  &__left-side-content {
    display: flex;
  }

  &__nav {
    margin-left: 64px;

    @include onTablet{
      margin-left: 32px;
    }

    @include onMobile{
      margin-left: 20px;
    }
  }

  &__service-icons {
    display: flex;
  }

  &__service-icons-content {
    padding: 22px;
    box-shadow: -1px 0 0 0 $light-gray;
  }
}



